body {
    background-color: #404040;
}

.resume-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    color: black;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.resume-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.contact-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
