* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    margin: 8px 0;
}
body {
    background-color: #404040;
}

.resume-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 56px;
    background-color: white;
    color: black;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.resume-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
}

.contact-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.section-info {
    /* margin-bottom: 32px; */
}

.section-info .info {
    text-align: justify;
}

.section-info p.skill {
    margin: 8px;
}

.education .place {
    display: flex;
    justify-content: space-between;
    /* font-weight: bold; */
}
.education .degree {
    display: flex;
    justify-content: space-between;
}

.degree .name {
    font-weight: bold;
}

.educations {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
