* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    margin: 8px 0;
}

.resume-container {
    /* max-width: 1080px; */
    margin: 0 auto;
    padding: 56px;
    background-color: white;
    color: black;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

.resume-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
}

.contact-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.section-info {
    /* margin-bottom: 32px; */
}

.section-info .info {
    text-align: justify;
}

.section-info p.skill {
    margin: 8px;
}

.education .place {
    display: flex;
    justify-content: space-between;
    /* font-weight: bold; */
}
.education .degree {
    display: flex;
    justify-content: space-between;
}

.degree .name {
    font-weight: bold;
}

.educations {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Experience */
.experience .company-info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.company-info .duration {
    font-weight: normal;
}

.company-info .tasks li {
    text-align: justify;
}

/* Fractal Plaid Background */
body {
    /* position: fixed; */
    top: 0;
    left: 0;
    /* width: 100vw; */
    /* height: 100vh; */
    background:
        linear-gradient(45deg, #333 25%, transparent 25%) -50px 0/100px 100px,
        linear-gradient(135deg, #333 25%, transparent 25%) -50px 0/100px 100px,
        linear-gradient(45deg, transparent 75%, #111 75%) -50px 0/100px 100px,
        linear-gradient(135deg, transparent 75%, #111 75%) -50px 0/100px 100px;
    background-color: #222;
    animation: animatePlaid 5s linear infinite;
    z-index: -1;
}

/* Fractal Plaid Animation */
@keyframes animatePlaid {
    0% {
        background-position:
            0 0,
            0 0,
            0 0,
            0 0;
    }
    100% {
        background-position:
            100px 100px,
            -100px 100px,
            100px -100px,
            -100px -100px;
    }
}
